language: php

dist: xenial

php:
  - 7.1
  - 7.2
  - 7.3
  - 7.4
  - hhvm

matrix:
  allow_failures:
    - php: 7.1
    - php: hhvm

install:
  - mkdir tests/output
  - composer install --prefer-source --no-interaction

script: vendor/phpunit/phpunit/phpunit